In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("C:\\Users\\gopesh.r\\Downloads\\LLA-J\\Jamaica_Mobile_KPI_ALL_20240527.xlsx")

In [4]:
df = df.T

In [5]:
df

,0,1,2,3,4,5,6,7,8,9,...,356,357,358,359,360,361,362,363,364,365
LIME_Jamaica,NaN,May 2024,NaN,Customer KPI's,Activations,Prepaid,Postpaid,Gross Adds,Prepaid Churn,Postpaid Churn,...,Unique Subs using LTE data per day,NaN,Mobile Loan KPI's,NaN,Mobile Loans,Loan Issue Value (USD),Loan Admin Fee (USD),Repaid Loan Value (USD),Loan Value Outstanding (USD),No of Loans Outstanding
Unnamed: 1,NaN,2024-03-01 00:00:00,Fri,NaN,NaN,2511,211,2722,-2996,-478,...,145579,NaN,2024-03-01 00:00:00,2024-03-01 00:00:00,NaN,118495.23,11849.51,131852.11,1459136.05,219675
-38964.79,NaN,2024-03-02 00:00:00,Sat,NaN,NaN,2640,119,2759,-2854,-35,...,139648,NaN,2024-03-02 00:00:00,Sat,NaN,118199,11819.88,127822.18,2812222.62,427485
Unnamed: 3,NaN,2024-03-03 00:00:00,Sun,NaN,NaN,565,2,567,-3142,-9,...,135468,NaN,2024-03-03 00:00:00,Sun,NaN,86039.69,8603.96,81918.89,2822610.91,428838
Unnamed: 4,NaN,2024-03-04 00:00:00,Mon,NaN,NaN,2242,28,2270,-3467,-32,...,149307,NaN,2024-03-04 00:00:00,Mon,NaN,121158.77,12115.86,124507.56,2828237.19,429000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 88,NaN,2024-05-27 00:00:00,Mon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2024-05-27 00:00:00,2024-05-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 89,NaN,2024-05-28 00:00:00,Tue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2024-05-28 00:00:00,Tue,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 90,NaN,2024-05-29 00:00:00,Wed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2024-05-29 00:00:00,Wed,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 91,NaN,2024-05-30 00:00:00,Thu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2024-05-30 00:00:00,Thu,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 92,NaN,2024-05-31 00:00:00,Fri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2024-05-31 00:00:00,Fri,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
first_row_values = df.iloc[0]
df = df.rename(columns=first_row_values)

In [7]:
df

,NaN,May 2024,NaN,Customer KPI's,Activations,Prepaid,Postpaid,Gross Adds,Prepaid Churn,Postpaid Churn,...,Unique Subs using LTE data per day,NaN,Mobile Loan KPI's,NaN,Mobile Loans,Loan Issue Value (USD),Loan Admin Fee (USD),Repaid Loan Value (USD),Loan Value Outstanding (USD),No of Loans Outstanding
LIME_Jamaica,NaN,May 2024,NaN,Customer KPI's,Activations,Prepaid,Postpaid,Gross Adds,Prepaid Churn,Postpaid Churn,...,Unique Subs using LTE data per day,NaN,Mobile Loan KPI's,NaN,Mobile Loans,Loan Issue Value (USD),Loan Admin Fee (USD),Repaid Loan Value (USD),Loan Value Outstanding (USD),No of Loans Outstanding
Unnamed: 1,NaN,2024-03-01 00:00:00,Fri,NaN,NaN,2511,211,2722,-2996,-478,...,145579,NaN,2024-03-01 00:00:00,2024-03-01 00:00:00,NaN,118495.23,11849.51,131852.11,1459136.05,219675
-38964.79,NaN,2024-03-02 00:00:00,Sat,NaN,NaN,2640,119,2759,-2854,-35,...,139648,NaN,2024-03-02 00:00:00,Sat,NaN,118199,11819.88,127822.18,2812222.62,427485
Unnamed: 3,NaN,2024-03-03 00:00:00,Sun,NaN,NaN,565,2,567,-3142,-9,...,135468,NaN,2024-03-03 00:00:00,Sun,NaN,86039.69,8603.96,81918.89,2822610.91,428838
Unnamed: 4,NaN,2024-03-04 00:00:00,Mon,NaN,NaN,2242,28,2270,-3467,-32,...,149307,NaN,2024-03-04 00:00:00,Mon,NaN,121158.77,12115.86,124507.56,2828237.19,429000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 88,NaN,2024-05-27 00:00:00,Mon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2024-05-27 00:00:00,2024-05-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 89,NaN,2024-05-28 00:00:00,Tue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2024-05-28 00:00:00,Tue,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 90,NaN,2024-05-29 00:00:00,Wed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2024-05-29 00:00:00,Wed,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 91,NaN,2024-05-30 00:00:00,Thu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2024-05-30 00:00:00,Thu,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 92,NaN,2024-05-31 00:00:00,Fri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2024-05-31 00:00:00,Fri,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df = df[1:]
df = df.drop(df.columns[0], axis=1)

In [9]:
df

,May 2024,Customer KPI's,Activations,Prepaid,Postpaid,Gross Adds,Prepaid Churn,Postpaid Churn,Less Prepaid Rejoiners,Postpaid Rejoiners,...,Cumulative Unique Subs using LTE data,Unique Subs using LTE data in past 30 days,Unique Subs using LTE data per day,Mobile Loan KPI's,Mobile Loans,Loan Issue Value (USD),Loan Admin Fee (USD),Repaid Loan Value (USD),Loan Value Outstanding (USD),No of Loans Outstanding
Unnamed: 1,2024-03-01 00:00:00,NaN,NaN,2511,211,2722,-2996,-478,1837,35,...,145578,600693,145579,2024-03-01 00:00:00,NaN,118495.23,11849.51,131852.11,1459136.05,219675
-38964.79,2024-03-02 00:00:00,NaN,NaN,2640,119,2759,-2854,-35,2586,13,...,206745,602995,139648,2024-03-02 00:00:00,NaN,118199,11819.88,127822.18,2812222.62,427485
Unnamed: 3,2024-03-03 00:00:00,NaN,NaN,565,2,567,-3142,-9,1828,6,...,252554,604344,135468,2024-03-03 00:00:00,NaN,86039.69,8603.96,81918.89,2822610.91,428838
Unnamed: 4,2024-03-04 00:00:00,NaN,NaN,2242,28,2270,-3467,-32,1444,0,...,295415,606512,149307,2024-03-04 00:00:00,NaN,121158.77,12115.86,124507.56,2828237.19,429000
Unnamed: 5,2024-03-05 00:00:00,NaN,NaN,2098,785,2883,-3751,-133,1587,16,...,328791,608838,146427,2024-03-05 00:00:00,NaN,108519.94,10851.98,107569.34,2837046.04,430096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 88,2024-05-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2024-05-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 89,2024-05-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2024-05-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 90,2024-05-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2024-05-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 91,2024-05-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2024-05-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 92,2024-05-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2024-05-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.dropna(axis=1, how='all', inplace=True)

In [11]:
df

,May 2024,Prepaid,Postpaid,Gross Adds,Prepaid Churn,Postpaid Churn,Less Prepaid Rejoiners,Postpaid Rejoiners,Net Churn,Net Adds,...,Total Daily Data Traffic - MB,Cumulative Unique Subs using LTE data,Unique Subs using LTE data in past 30 days,Unique Subs using LTE data per day,Mobile Loan KPI's,Loan Issue Value (USD),Loan Admin Fee (USD),Repaid Loan Value (USD),Loan Value Outstanding (USD),No of Loans Outstanding
Unnamed: 1,2024-03-01 00:00:00,2511,211,2722,-2996,-478,1837,35,-1602,1120,...,54692916.88,145578,600693,145579,2024-03-01 00:00:00,118495.23,11849.51,131852.11,1459136.05,219675
-38964.79,2024-03-02 00:00:00,2640,119,2759,-2854,-35,2586,13,-290,2469,...,48503063.99,206745,602995,139648,2024-03-02 00:00:00,118199,11819.88,127822.18,2812222.62,427485
Unnamed: 3,2024-03-03 00:00:00,565,2,567,-3142,-9,1828,6,-1317,-750,...,43450145.71,252554,604344,135468,2024-03-03 00:00:00,86039.69,8603.96,81918.89,2822610.91,428838
Unnamed: 4,2024-03-04 00:00:00,2242,28,2270,-3467,-32,1444,0,-2055,215,...,48967308.36,295415,606512,149307,2024-03-04 00:00:00,121158.77,12115.86,124507.56,2828237.19,429000
Unnamed: 5,2024-03-05 00:00:00,2098,785,2883,-3751,-133,1587,16,-2281,602,...,51824873.99,328791,608838,146427,2024-03-05 00:00:00,108519.94,10851.98,107569.34,2837046.04,430096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 88,2024-05-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,2024-05-27 00:00:00,NaN,NaN,NaN,NaN,NaN
Unnamed: 89,2024-05-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,2024-05-28 00:00:00,NaN,NaN,NaN,NaN,NaN
Unnamed: 90,2024-05-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,2024-05-29 00:00:00,NaN,NaN,NaN,NaN,NaN
Unnamed: 91,2024-05-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,2024-05-30 00:00:00,NaN,NaN,NaN,NaN,NaN
Unnamed: 92,2024-05-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,2024-05-31 00:00:00,NaN,NaN,NaN,NaN,NaN

In [12]:
df.rename(columns={'Postpaid': 'Postpaid Activation'}, inplace=True)
df.rename(columns={'Prepaid': 'Prepaid Activation'}, inplace=True)

In [13]:
df.rename(columns={'May 2024': 'Datetime'}, inplace=True)

In [14]:
df

,Datetime,Prepaid Activation,Postpaid Activation,Gross Adds,Prepaid Churn,Postpaid Churn,Less Prepaid Rejoiners,Postpaid Rejoiners,Net Churn,Net Adds,...,Total Daily Data Traffic - MB,Cumulative Unique Subs using LTE data,Unique Subs using LTE data in past 30 days,Unique Subs using LTE data per day,Mobile Loan KPI's,Loan Issue Value (USD),Loan Admin Fee (USD),Repaid Loan Value (USD),Loan Value Outstanding (USD),No of Loans Outstanding
Unnamed: 1,2024-03-01 00:00:00,2511,211,2722,-2996,-478,1837,35,-1602,1120,...,54692916.88,145578,600693,145579,2024-03-01 00:00:00,118495.23,11849.51,131852.11,1459136.05,219675
-38964.79,2024-03-02 00:00:00,2640,119,2759,-2854,-35,2586,13,-290,2469,...,48503063.99,206745,602995,139648,2024-03-02 00:00:00,118199,11819.88,127822.18,2812222.62,427485
Unnamed: 3,2024-03-03 00:00:00,565,2,567,-3142,-9,1828,6,-1317,-750,...,43450145.71,252554,604344,135468,2024-03-03 00:00:00,86039.69,8603.96,81918.89,2822610.91,428838
Unnamed: 4,2024-03-04 00:00:00,2242,28,2270,-3467,-32,1444,0,-2055,215,...,48967308.36,295415,606512,149307,2024-03-04 00:00:00,121158.77,12115.86,124507.56,2828237.19,429000
Unnamed: 5,2024-03-05 00:00:00,2098,785,2883,-3751,-133,1587,16,-2281,602,...,51824873.99,328791,608838,146427,2024-03-05 00:00:00,108519.94,10851.98,107569.34,2837046.04,430096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 88,2024-05-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,2024-05-27 00:00:00,NaN,NaN,NaN,NaN,NaN
Unnamed: 89,2024-05-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,2024-05-28 00:00:00,NaN,NaN,NaN,NaN,NaN
Unnamed: 90,2024-05-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,2024-05-29 00:00:00,NaN,NaN,NaN,NaN,NaN
Unnamed: 91,2024-05-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,2024-05-30 00:00:00,NaN,NaN,NaN,NaN,NaN
Unnamed: 92,2024-05-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,2024-05-31 00:00:00,NaN,NaN,NaN,NaN,NaN

In [16]:
df.to_csv('Jamaica_partial_cleaned.csv', index= False)

In [14]:
df = df.drop(df.columns[0], axis=1)

In [15]:
df

,Customer KPI's,Activations,Prepaid,Postpaid,Gross Adds,Prepaid Churn,Postpaid Churn,Less Prepaid Rejoiners,Postpaid Rejoiners,Net Churn,...,Cumulative Unique Subs using LTE data,Unique Subs using LTE data in past 30 days,Unique Subs using LTE data per day,Mobile Loan KPI's,Mobile Loans,Loan Issue Value (USD),Loan Admin Fee (USD),Repaid Loan Value (USD),Loan Value Outstanding (USD),No of Loans Outstanding
Unnamed: 1,NaN,NaN,2511,211,2722,-2996,-478,1837,35,-1602,...,145578,600693,145579,2024-03-01 00:00:00,NaN,118495.23,11849.51,131852.11,1459136.05,219675
-38964.79,NaN,NaN,2640,119,2759,-2854,-35,2586,13,-290,...,206745,602995,139648,2024-03-02 00:00:00,NaN,118199,11819.88,127822.18,2812222.62,427485
Unnamed: 3,NaN,NaN,565,2,567,-3142,-9,1828,6,-1317,...,252554,604344,135468,2024-03-03 00:00:00,NaN,86039.69,8603.96,81918.89,2822610.91,428838
Unnamed: 4,NaN,NaN,2242,28,2270,-3467,-32,1444,0,-2055,...,295415,606512,149307,2024-03-04 00:00:00,NaN,121158.77,12115.86,124507.56,2828237.19,429000
Unnamed: 5,NaN,NaN,2099,784,2883,-3751,-133,1587,16,-2281,...,328791,608838,146427,2024-03-05 00:00:00,NaN,108519.94,10851.98,107569.34,2837046.04,430096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,2024-05-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,2024-05-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,2024-05-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,2024-05-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,2024-05-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df1 = pd.read_csv("C:\\Users\\gopesh.r\\Downloads\\LLA-J\\Jamaica_partial_cleaned.csv")

In [7]:
df1

,Datetime,Prepaid Activation,Postpaid Activation,Gross Adds,Prepaid Churn,Postpaid Churn,Less Prepaid Rejoiners,Postpaid Rejoiners,Net Churn,Net Adds,...,Total Daily Data Traffic - MB,Cumulative Unique Subs using LTE data,Unique Subs using LTE data in past 30 days,Unique Subs using LTE data per day,Mobile Loan KPI's,Loan Issue Value (USD),Loan Admin Fee (USD),Repaid Loan Value (USD),Loan Value Outstanding (USD),No of Loans Outstanding
0,2024-03-01 00:00:00,2511,211,2722,-2996,-478,1837,35,-1602,1120,...,54692916.88,145578,600693,145579,2024-03-01 00:00:00,118495.23,11849.51,131852.11,1459136.05,219675
1,2024-03-02 00:00:00,2640,119,2759,-2854,-35,2586,13,-290,2469,...,48503063.99,206745,602995,139648,2024-03-02 00:00:00,118199.00,11819.88,127822.18,2812222.62,427485
2,2024-03-03 00:00:00,565,2,567,-3142,-9,1828,6,-1317,-750,...,43450145.71,252554,604344,135468,2024-03-03 00:00:00,86039.69,8603.96,81918.89,2822610.91,428838
3,2024-03-04 00:00:00,2242,28,2270,-3467,-32,1444,0,-2055,215,...,48967308.36,295415,606512,149307,2024-03-04 00:00:00,121158.77,12115.86,124507.56,2828237.19,429000
4,2024-03-05 00:00:00,2099,784,2883,-3752,-132,1587,16,-2281,602,...,51824873.99,328791,608838,146427,2024-03-05 00:00:00,108519.94,10851.98,107569.34,2837046.04,430096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,2024-05-04 00:00:00,2053,199,2252,-3945,-337,1541,17,-2724,-472,...,38846727.49,272522,593715,133970,2024-05-04 00:00:00,108725.19,10872.50,122386.32,2816754.03,422746
65,2024-05-05 00:00:00,585,130,715,-3469,-15,1627,20,-1837,-1122,...,31861355.19,298004,592251,125211,2024-05-05 00:00:00,81277.00,8127.69,78042.16,2825867.65,424114
66,2024-05-06 00:00:00,2088,31,2119,-3887,-306,1766,5,-2422,-303,...,20449342.92,314792,590129,104357,2024-05-06 00:00:00,113985.96,11398.58,122481.03,2826056.78,424208
67,2024-05-07 00:00:00,2135,220,2355,-3836,-114,2104,17,-1829,526,...,17031342.38,328093,587959,93148,2024-05-07 00:00:00,101043.84,10104.37,100166.65,2834215.31,425621
68,2024-05-08 00:00:00,0,0,0,0,0,0,0,0,0,...,0.00,328093,580984,0,2024-05-08 00:00:00,0.00,0.00,0.00,0.00,0